<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.tailwindcss.com/2.2.15/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link rel="icon"
        href="https://cdn.discordapp.com/attachments/920978046016716840/1166677207565991946/CS.png?ex=654b5bd2&is=6538e6d2&hm=68edaa90823a686043c61155db8620046ff5d2a78efa530ecc5ca87bb75e8bf1&"
        type="image/x-icon">



</head>

<body class=" bg-black" style="font-family: 'Kanit', sans-serif;">

    <%- include('./navbar')%>

        <div class="bg-orange-500 text-center py-5 pt-24">
            <h1 class="text-white text-6xl font-bold">ABOUT US</h1>
        </div>


        <div class="container mx-auto pt-32 pb-10">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-4">



                <!-- Course 2 -->
                <div class="p-4 border border-gray-200 rounded-lg bg-white">
                    <img src="https://media.discordapp.net/attachments/1165318162208796772/1166453678165721210/20230523_165700.jpg?ex=654a8ba4&is=653816a4&hm=bc5f970cf2cb0724f411580d9f1f5dc6eaa2e4422b7b037c53b111b44f7c9fad&=&width=2607&height=1467"
                        alt "just cat" class="w-full h-52 object-cover rounded-lg">
                    <h3 class="text-lg font-semibold mt-2">RITAR</h3>
                    <p class="text-gray-600 mt-1">So cute</p>
                    <a href="#"
                        class="mt-4 block bg-green-500 text-white rounded-full py-2 px-4 text-center font-semibold hover:bg-green-600">Writerrrr
                    </a>
                </div>

                <div class="p-4 border border-gray-200 rounded-lg bg-white">
                    <img src="https://media.discordapp.net/attachments/920978046016716840/1166686739562254376/Screenshot_2566-10-25_at_17.36.08.png?ex=654b64b2&is=6538efb2&hm=8576383162ed7843f6cffbe804734da8f197a24a3a7d80a230f8b1725745f6a1&=&width=2060&height=1148"
                        alt "just cat" class="w-full h-52 object-cover rounded-lg">
                    <h3 class="text-lg font-semibold mt-2">!CE</h3>
                    <p class="text-gray-600 mt-1">So cute</p>
                    <a href="#"
                        class="mt-4 block bg-red-500 text-white rounded-full py-2 px-4 text-center font-semibold hover:bg-red-600">ผมซัดนะ
                    </a>
                </div>

                <div class="p-4 border border-gray-200 rounded-lg bg-white">
                    <img src="https://media.newyorker.com/photos/5c0195240591e72cf6b59d12/1:1/w_1465,h_1465,c_limit/Duke-Spongebob_01.jpg"
                        alt "just cat" class="w-full h-52 object-cover rounded-lg">
                    <h3 class="text-lg font-semibold mt-2">NongAom</h3>
                    <p class="text-gray-600 mt-1">So cute</p>
                    <a href="#"
                        class="mt-4 block bg-green-500 text-white rounded-full py-2 px-4 text-center font-semibold hover:bg-green-600">หิวหนม
                    </a>
                </div>

                <div class="p-4 border border-gray-200 rounded-lg bg-white">
                    <img src="https://media.discordapp.net/attachments/1165318162208796772/1166451501644923042/IMG_6076.jpg?ex=654a899d&is=6538149d&hm=16923f99cb9a41a3b9a16fe8a06f6ae78769f89417aab8c7edc5186ba3ae50b5&=&width=1101&height=1467"
                        alt "just cat" class="w-full h-52 object-cover rounded-lg">
                    <h3 class="text-lg font-semibold mt-2">NongShoSho</h3>
                    <p class="text-gray-600 mt-1">So cute</p>
                    <a href="#"
                        class="mt-4 block bg-red-500 text-white rounded-full py-2 px-4 text-center font-semibold hover:bg-red-600">หมี่หยกตี๋น้อย
                        No.1 หมี่หยกตี๋น้อย No.1 หมี่หยกตี๋น้อย No.1
                    </a>
                </div>

                <div class="p-4 border border-gray-200 rounded-lg bg-white">
                    <img src="https://media.discordapp.net/attachments/1165318162208796772/1166453855295373352/IMG_6808.png?ex=654a8bce&is=653816ce&hm=2deb383c7a150ada8ca1f5fb344ec399b2d6bfb03176bea706d45c235d644343&=&width=1377&height=1467"
                        alt "just cat" class="w-full h-52 object-cover rounded-lg">
                    <h3 class="text-lg font-semibold mt-2">NOON-POLO Forever</h3>
                    <p class="text-gray-600 mt-1">So cute</p>
                    <a href="#"
                        class="mt-4 block bg-green-500 text-white rounded-full py-2 px-4 text-center font-semibold hover:bg-green-600">❤️
                    </a>
                </div>

                <div class="p-4 border border-gray-200 rounded-lg bg-white">
                    <img src="https://media.discordapp.net/attachments/1165318162208796772/1166456557857423370/20210612_015713.jpg?ex=654a8e53&is=65381953&hm=d184eea7fe75b75c539311ad7e3eac8912c6fa5e2e6d69cf2af586b96c1c7bf2&=&width=1575&height=1467"
                        alt "just cat" class="w-full h-52 object-cover rounded-lg">
                    <h3 class="text-lg font-semibold mt-2">ILYNN.X</h3>
                    <p class="text-gray-600 mt-1">So cute</p>
                    <a href="#"
                        class="mt-4 block bg-red-500 text-white rounded-full py-2 px-4 text-center font-semibold hover:bg-red-600">😣😣😣😣
                    </a>
                </div>




            </div>
        </div>

</body>

</html>