<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify id</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.tailwindcss.com/2.2.15/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link rel="icon"
        href="https://cdn.discordapp.com/attachments/920978046016716840/1166677207565991946/CS.png?ex=654b5bd2&is=6538e6d2&hm=68edaa90823a686043c61155db8620046ff5d2a78efa530ecc5ca87bb75e8bf1&"
        type="image/x-icon">



</head>

<body class="bg-black" style="font-family: 'Kanit', sans-serif;">

    <%- include('../navbar')%>
        <div class="flex h-screen items-center flex-col">
            <div class="text-white text-7xl pt-72 font-bold font-KMITLGO">YOU CAN'T ACCESS</div>
            <a href="/course-list">
                <button
                    class="w-[330px] h-[39px] px-4 py-2.5 bg-amber-200 from-orange-600 to-yellow-400 rounded-full justify-center items-center gap-2 inline-flex border-2 border-transparent transition-transform transform hover:scale-105 mt-10">
                    <div class="text-black text-3xl font-normal font-['KMITLGO']">BACK TO HOME</div>
                </button>

            </a>
        </div>
</body>

</html>